<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="file-space" id="fileSpace">这是一个空空的文件中转</div>
    <input type="file" id="fileInput" multiple style="display: none;" />
  </body>
  <style>
    .file-space {
      padding: 20px;
      border: 1px dashed #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      text-align: center;
      cursor: pointer;
    }

    .file-space:hover {
      border-color: #007acc;
      background-color: #e9e9e9;
    }
    .file-space.drag-over {
      border-color: #28a745;
      background-color: #f0fff4;
      border-style: solid;
    }
  </style>
  <script>
    import { listen } from "@tauri-apps/api/event";
    listen('tauri://drag-drop', (e) => {
      console.log("Dropped files:", e);
    });
    listen('tauri://drag-leave', () => {
      console.log("Drag leave");
    });
    listen('tauri://drag-enter', () => {
      console.log("Drag enter");
    });
  </script>
</html>
