---
import Layout from '../layouts/Layout.astro';
import ICON from '../../src-tauri/icons/128x128.png'
import Image from 'astro/components/Image.astro';
---

<Layout title="Wngtools-About">
  <div class="welcome">
      <div>
          <Image src={ICON} alt="Wngtools Logo" width="128" height="128" />
      </div>
    <h2>欢迎使用 Wngtools</h2>
    <p>这是一个 Tauri 应用，支持文件管理和主题同步。</p>
  </div>
  <div >点击,下次启动不再显示About页</div>
</Layout>

<script type="module" src="src/trayitems/main.ts"></script>

<style>
.welcome {
  text-align: center;
  padding: 2rem;
}

.welcome h2 {
  color: var(--text-color);
}

.welcome p {
  color: var(--text-color);
  opacity: 0.8;
}
</style>
